@import '@mdi/font/css/materialdesignicons.css';
@import 'scss/fonts';
@import 'scss/polyfill';
@import 'scss/theme';

body {
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
}

/* Vuetify overrides */
// html {
//   font-size: 12px !important;
// }
// .v-field {
//   font-size: 1rem !important;
// }
// .v-col {
//   padding: 6px !important;
// }

.icon-flip-h {
  transform: scaleX(-1);
}
.icon-flip-v {
  transform: scaleY(-1);
}

.v-list .v-list-item__prepend > .v-icon {
  margin-inline-end: 8px;
}

.v-theme--dark {

/* Finally, set the CodeMirror gutter and line numbers to a darker color */
  .cm-gutters {
    background-color: #1E1E1E;
    border: none;
  }
  .cm-linenumber {
    color: #666666;
  }
  .cm-line.cm-activeLine {
    background-color: #ffffff10;
  }
  .cm-activeLineGutter {
    background-color: #ffffff10;
  }
  .cm-focused .cm-scroller .cm-selectionLayer .cm-selectionBackground {
    background-color: #ffffff20;
  }
  .cm-cursor {
    border-color: #666666;
  }
  .cm-editor {
    .cm-content {
      caret-color: #666666;
    }
  }
}