@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-BoldItalic.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-Light.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-MediumItalic.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/UbuntuMono-Bold.ttf);
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/UbuntuMono-BoldItalic.ttf);
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/UbuntuMono-Italic.ttf);
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/UbuntuMono-Regular.ttf);
}
